# dependencies
node_modules/
.pnpm-store/

# build
dist/

# ide
.vscode/
.idea/
.DS_Store

# test / coverage
coverage/
.nyc_output/

# logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# vite cache
.vite/

# env
.env
.env.local
.env.*.local
